*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #wrapper{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map_canvas_1 {
  height: 100%;
  width: 100%;
}

.container {
  width: 100px;
  z-index: 1;
  margin: 5px;
  cursor: pointer;
  text-align: left;
  z-index: 0;
  overflow: visible;
  height: auto;
}

.dropDownControl,
.dropDownOptionsDiv,
.dropDownItemDiv,
.dropDownArrow,
.checkboxSpan,
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  color: rgb(86, 86, 86);
  text-align: left;
  font-size: 11px;
  font-family: Roboto,Arial,sans-serif;
  background-color: rgb(255, 255, 255);
  direction: ltr;
  white-space: nowrap;
}

.dropDownControl,
.dropDownOptionsDiv,
.button {
  overflow: hidden;
  position: relative;
  padding: 1px 6px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  z-index: 2;
}

.dropDownArrow {
  border: none;
  padding: 0;
  margin: -2px 0 0 0;
  position: absolute;
  right: 6px;
  top: 50%;
  width: 7px;
  height: 4px;
}

.dropDownOptionsDiv {
  z-index: 0;
  padding-top: 0px;
  position: relative;
  display: none;
}

.dropDownItemDiv {
  padding: 2px 5px 3px 5px;
}

.dropDownItemDiv:hover,
.checkboxContainer:hover,
.button:hover {
  background-color: rgb(235, 235, 235);
}

.dropDownControl:hover {
  background: -webkit-linear-gradient(top,rgb(255,255,255),rgb(230,230,230));
}

.separatorDiv {
  margin: 1px 0;
  border-top: 1px solid rgb(235, 235, 235);
}

.checkboxContainer {
  padding: 1px 8px 3px 5px;
}

.checkboxSpan {
  box-sizing: border-box;
  position: relative;
  line-height: 0;
  font-size: 0px;
  margin: 0 5px 0 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgb(198, 198, 198);
}

.blankDiv {
  position: absolute;
  left: 1px;
  top: -2px;
  width: 13px;
  height: 11px;
  overflow: hidden;
  display: none; /*when = block -> this is the "check" symbol*/
}

.blankImg {
  position: absolute;
  left: -52px;
  top: -44px;
  border: none;
  padding: 0;
  margin: 0;
  width: 68px;
  height: 67px;
}

.checkboxLabel {
  vertical-align: middle;
  cursor: pointer;
}

span.markerLink {
  cursor: pointer;
}

.customInfoBoxFeaturedImage {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

.customInfoBox .customInfoBoxSummary {
  display: block;
  font-size: 12px;
  margin: 15px;
}

.customInfoBox {
  position: relative;
  border: 4px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  margin-top: 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition:opacity 0.5s linear;
}

.customInfoBoxContent {
  overflow: hidden;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.customInfoBox:after, .customInfoBox:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.customInfoBox:after {
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-width: 15px;
  margin-left: -15px;
}

.customInfoBox:before {
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 19px;
  margin-left: -19px;
}